*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: rgb(231, 241, 238);
}

@keyframes slidy {
    0% { left: 0%; }
    16% { left: 0%; }
    20% { left: -100%; }
    36% { left: -100%; }
    40% { left: -200%; }
    56% { left: -200%; }
    60% { left: -300%; }
    76% { left: -300%; }
    80% { left: -400%; }
    96% { left: -400%; }
    }
/*
@keyframes color-change {
    0% { color: black; }
    16% { color: black; }
    20%{ color: #fff; }
    36%{ color: #FFF; }
    40%{ color: #FFF; }
    56% { color: #FFF; }
    60% { color: black; }
    76%{ color: black; }
    80%{ color: #FFF; }
    96%{ color: #FFF; }
    100%{ color: black; }
    }
*/  
#slider {  overflow: hidden; }

#slider figure img { 
    height: 100vh;
    width: 20%; 
    float: left;
    object-fit: cover; 
    }

#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 60s slidy infinite; 
    }
    

header {
    display: flex;
    }

nav {
    position: absolute;
    display: flex;
    align-items:center;
    margin-left: 8%;
    margin-top: 40px;
    position: fixed;
    z-index: 2;
    transition: 0.5s;    
}

nav ul {    
    list-style-type: none;
    display: flex;
    }

ul a {
    text-decoration: none;
    /*animation: color-change 60s infinite; */
    margin-right: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #FFF;
    padding-bottom: 10px;
    }

ul a:hover {
    border-bottom: solid;
    border-color: #FFF;
    
}

nav img {
    width: 160px;
    height: auto;
    margin-right: 80px;
    transition: 0.5s; 
}

/* PORTE FOLIO */


#portefolio {
    margin-top: 50px;
}

.galerie {
    margin-top: 60px;
}

#p1{
    display: flex;
}

#p2{
    display: flex;
    justify-content:center ;
}

.boxgalerie {
    margin-top: 30px;
    display: flex;
    overflow: hidden;
}

.boxgalerie img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 2s ease;
}

.boxgalerie img:hover{
   transform: scale(1.05);
   
}


#mur {
    width: 40%;
    height: 35em;
    margin-right: 30px;
    position: relative;
}

#papillon {
    width: 17%;
    height: 35em;
    position: relative;
}

#bateau {
    width: 100%;
    height: 50em;
    position: relative;
}

#oiseau {
    margin-right: 30px;
    width:25%;
    height: 20em;
    position: relative;
}

#ancre {
    width: 20%;
    height: 20em;
    position: relative;
}

.legende {
    position: absolute;
    bottom: 0;
    color: grey;
    background-color: rgb(219, 230, 240);
    width: 120px;
    height: 120px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#papillon span {
    right: 0;
}

#ancre span {
    right: 0;
}

/* A PROPOS */

.propos{
    display: flex;
    margin-top: 100px;
    height: 1050px;
    background-color:  rgb(185, 214, 205);

}

.imagepropos {
    margin-top: 100px;
    margin-left: 15%;
    height: 800px;
    width: 30%;
    display: flex;
    position: relative;
    right: -50px;
}

.imagepropos img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

aside {
    margin-top: 50px;
    width: 35%;
    height: 900px;
    background-color: rgb(231, 241, 238);
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h2 {
    font-size: 4em;
    padding:20px;
    background-color: rgb(185, 214, 205);
    color: #FFF;
    padding-left: 70px;
}

aside p {
    margin-right: 10%;
    margin-left: 15% ;
    font-size: 2em;

}

aside a {
    text-decoration: none;
    color: grey;
    background-color:rgb(219, 230, 240);
    width: 180px;
    height: 180px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    text-align: center;
}

aside a:hover {
    font-weight: bold;
} 

.a1 {
    display: flex;
    justify-content: end;

}

footer {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    
}

.f1 {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.rights {
    margin-left: 10%;
}


footer a {
    text-decoration: none;
    color:black;
    display: flex;
    justify-content: end;
    margin-right: 10%;
}

footer i {
    margin-left: 10px;
}

.power {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

