*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: rgb(231, 241, 238);
}

.custom-slider { display: none; }

#slider { 
    position: relative;
    width: 100%;

    }
    
.custom-slider img { 
    height: 100vh;
    width: 100%; 
    float: left;
    object-fit: cover;
    object-position: center; 
    }

.prev, .next {
    cursor: pointer;
    position: absolute;        
    top: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
}

.prev{ left: 100px; transition: left 0.8s ease;}
.next { right: 100px; transition: right 0.8s ease;}
.prev:hover {
    left: 80px;
}

.next:hover {
    right: 80px;
}

.next img, .prev img{
    width: 400px;
    height: auto;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: 0.5} 
  to {opacity: 1}
}


header {
    display: flex;
    position: relative;
    }

nav {
    display: flex;
    align-items:center;
    margin-left: 8%;
    margin-top: 40px;
    position: fixed;
    z-index: 2;
    transition: 0.5s;    
}

nav ul {    
    list-style-type: none;
    display: flex;
    }

ul a {
    text-decoration: none;
    margin-right: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #FFF;
    padding-bottom: 10px;
    }

ul a:hover {
    border-bottom: solid;
    border-color: #FFF;
    
}

nav img {
    width: 160px;
    height: auto;
    margin-right: 80px;
    transition: 0.5s; 
}

/* PORTE FOLIO */


#portefolio {
    margin-top: 50px;
}

.galerie {
    margin-top: 60px;
}

#p1{
    display: flex;
}

#p2{
    display: flex;
    justify-content:center ;
}

.boxgalerie {
    margin-top: 50px;
    display: flex;
    
}



.boxgalerie img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 2s ease;
    
}

.boxImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mur {
    width: 40%;
    height: 35em;
    margin-right: 50px;
    position: relative;
}

#papillon {
    width: 17%;
    height: 35em;
    position: relative;
}

#epave {
    width: 100%;
    height: 50em;
    position: relative;
}

#turkeye {
    margin-right: 50px;
    width:30%;
    height: 400px;
    position: relative;
}

#pyrenees {
    width: 25%;
    height: 400px;
    position: relative;
}

.legende {
    overflow: visible;
    position: absolute;
    bottom: -20px;
    color: grey;
    background-color: rgb(219, 230, 240);
    width: 120px;
    height: 120px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all 2s ease;
}

.boxgalerie img:hover ,.legende:hover ~ .boxgalerie img{
    transform: scale(1.05);   
 }

.legende:hover,.boxgalerie img:hover ~ .legende {
    background-color: rgb(172, 188, 202);
    color: #FFF;
}

#papillon span {
    right: -20px;
}

#pyrenees span {
    right: -20px;
}

#epave span {
    right: 0px;
}

#turkeye span{
    left: -20px;
}

/* A PROPOS */

.propos{
    display: flex;
    margin-top: 100px;
    height: 1050px;
    background-color:  rgb(185, 214, 205);
}

.imagepropos {
    margin-top: 100px;
    margin-left: 15%;
    height: 800px;
    width: 30%;
    display: flex;
    position: relative;
    right: -50px;
}

.imagepropos img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

aside {
    margin-top: 50px;
    width: 35%;
    height: 900px;
    background-color: rgb(231, 241, 238);
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h2 {
    font-size: 4em;
    padding:20px;
    background-color: rgb(185, 214, 205);
    color: #FFF;
    padding-left: 70px;
}

aside p {
    margin-right: 10%;
    margin-left: 15% ;
    font-size: 2em;

}

aside a {
    text-decoration: none;
    color: grey;
    background-color:rgb(219, 230, 240);
    width: 180px;
    height: 180px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all 2s ease;
}

aside a:hover {
    background-color: rgb(172, 188, 202);
    color: #FFF;
} 

.a1 {
    display: flex;
    justify-content: end;
}

footer {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;    
}

.f1 {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.rights {
    margin-left: 10%;
}


footer a {
    text-decoration: none;
    color:black;
    display: flex;
    justify-content: end;
    margin-right: 10%;
}

footer i {
    margin-left: 10px;
}

.power {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

